<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container custom-container">
    <div class="list-group mx-0 w-auto">
        <form th:object="${searchCondition}" class="form-inline" method="get">
            <div class="list-group-item d-flex gap-3">
                <label for="itemName" class="col-sm-2 col-form-label">상품명</label>
                <div class="col-sm-3">
                    <input type="text" id="itemName" th:field="*{itemName}" class="form-control" placeholder="상품명"/>
                </div>
            </div>
            <div class="list-group-item d-flex gap-3">
                <label for="itemPriceGeo" class="col-sm-2 col-form-label">가격대</label>
                <div class="col-sm-3">
                    <input type="text" id="itemPriceGeo" th:field="*{itemPriceGeo}" class="form-control"
                           placeholder="0"/>
                </div>
                <div class="col-sm-3">
                    <input type="text" id="itemPriceLoe" th:field="*{itemPriceLoe}" class="form-control"
                           placeholder="10000"/>
                </div>
            </div>

            <div class="list-group-item d-flex gap-3">
                <label for="status" class="col-sm-2 col-form-label">상품상태</label>
                <div class="col-sm-3">
                    <select id="status" th:field="*{status}" class="form-select">
                        <option value="">상품상태</option>
                        <option th:each="status : ${T(dev.practice.order.domain.item.Status).values()}"
                                th:value="${status}"
                                th:text="${status}">option
                        </option>
                    </select>
                </div>
            </div>

            <div class="d-grid gap-2 col-3 mx-auto" style="padding: 10px 0;">
                <button type="submit" class="btn btn-primary">검색</button>
            </div>

        </form>
    </div>
    <hr>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>상품가격</th>
                <th>재고수량</th>
                <th>상태</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, i : ${items}">
                <td th:text="${i.index}"></td>
                <td>
                    <a th:href="@{/order/{itemToken}(itemToken=${item.getItemToken()})}"
                       th:text="${item.itemName}"
                       class="link-primary">
                        상품명</a>
                </td>
                <td th:text="${item.itemPrice}"></td>
                <td th:text="${item.stockQuantity}"></td>
                <td th:text="${item.status.getDescription()}"></td>
                <!--<td>
                    <a href="#" th:attr="onclick=|checkIsPartner('${item.itemToken}')|"
                       class="btn btn-primary" role="button">수정</a>
                </td>-->
                <td>
                    <a th:if="${item.status.name() == 'ON_SALE'}"
                                                href="#" th:attr="onclick=|changeEndOfSaleItem('${item.itemToken}')|"
                                           class="btn btn-outline-primary" role="button">판매종료로 변경</a>
                    <a th:if="${item.status.name() == 'END_OF_SALE'}"
                            href="#" th:attr="onclick=|changeOnSaleItem('${item.itemToken}')|"
                       class="btn btn-primary" role="button">판매상태로 변경</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation" th:unless="${items.size()==0}">
        <ul class="pagination justify-content-center">
            <li th:if="${page.isPrev()}" class="page-item">
                <a th:href="@{/item/list(page = ${page.getCurPage()-1},itemName=${param.itemName})}" class="page-link" href="#">Prev</a>
            </li>
            <li th:unless="${page.isPrev()}" class="page-item disabled">
                <a class="page-link">Prev</a>
            </li>
            <li th:classappend="${ num == activeNum+1 ? 'active' : 'condition-false'}" class="page-item"
                th:each="num, index: ${#numbers.sequence(page.getStartPage(), page.getEndPage())}">
                <a th:href="@{/item/list(page = ${index.current-1} ,itemName=${param.itemName})}" th:text="${num}" class="page-link" href="">1</a>
            </li>
            <li th:if="${page.isNext()}" class="page-item">
                <a th:href="@{/item/list(page = ${page.getCurPage()+1} ,itemName=${param.itemName})}" class="page-link" href="#">Next</a>
            </li>
            <li th:unless="${page.isNext()}" class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
        </ul>
    </nav>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
            <div class="d-flex">
                <div class="toast-body">
                    해당 상품의 판매자만 수정할 수 있습니다.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>