<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <div class="jumbotron">

        <div class="py-4 text-center">
<!--            <h2>주문 등록</h2>-->
        </div>

        <form method="post" th:object="${item}" id="frm">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
                <div class="col">
                    <img class="item-images" th:src="${item.representImagePath}"
                         src="/images/springInstroduction.png" alt="사진없음">
                </div>
                <div class="col">
                    <!--상품-->
                    <div class="mb-3">
                        <label for="itemName" class="form-label">상품</label>
                        <input type="text" name="itemName" id="itemName"
                               th:value="${item.getItemName()}"
                               class="form-control" readonly/>
                        <input th:if="${user} != null"
                                type="hidden" th:value="${user.getId()}" id="buyerUserId">
                        <input type="hidden" th:value="${item.getItemToken()}" id="itemToken">
                        <input type="hidden" th:value="${item.getRepresentImagePath()}" name="representImagePath">
                        <input type="hidden" th:value="${item.getRepresentImageName()}" name="representImageName">
                        <input type="hidden" th:value="${item.getRepresentImageSize()}" name="representImageSize">

                        <div th:each="group,stat : ${item.getOrderItemOptionGroupList()}">
                            <input type="hidden" th:field="*{orderItemOptionGroupList[__${stat.index}__].ordering}">
                            <input type="hidden"
                                   th:field="*{orderItemOptionGroupList[__${stat.index}__].itemOptionGroupName}">
                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="partnerName" class="form-label">판매자</label>
                        <input type="text" name="partnerName" id="partnerName"
                               th:value="${partner.getPartnerName()}"
                               class="form-control" readonly/>
                        <input type="hidden" th:value="${partner.getId()}" name="partnerId">
                    </div>

                    <!--옵션그룹-->
                    <div id="optionGroupSelect">
                        <div class="mb-3" th:if="${item.orderItemOptionGroupList.size() >0}">
                            <label for="optionGroupOrdering" class="form-label">옵션그룹</label>
                            <select name="optionGroupOrdering" id="optionGroupOrdering" class="form-control"
                                    th:onchange="onOptionGroupChange()">
                                <option value="">옵션그룹선택</option>
                                <option th:each="option, itemStat : ${item.orderItemOptionGroupList}"
                                        th:value="${option.ordering}"
                                        th:text="${option.itemOptionGroupName}"/>
                            </select>
                            <div class="field-error" th:errors="*{optionGroupOrdering}">
                                옵션 그룹선택
                            </div>
                        </div>
                        <div th:if="${item.orderItemOptionGroupList.size() == 0}">
                            <input type="hidden" name="optionGroupOrdering" value="-1">
                        </div>
                    </div>

                    <!--옵션-->
                    <div id="optionSelect">
                        <div class="mb-3" th:if="${optionList.size() >0}"
                             th:onchange="onCalcuChange()"
                        >
                            <label for="optionOrdering" class="form-label">옵션</label>
                            <select name="optionOrdering" id="optionOrdering" class="form-control">
                                <option value="">옵션선택</option>
                                <option th:each="option, itemStat : ${optionList}"
                                        th:value="${option.getOrdering()}"
                                        th:text="|${option.itemOptionName+'('+option.getItemOptionPrice()+'원)'}|"/>
                            </select>
                        </div>
                    </div>
                    <div class="field-error" th:errors="*{optionOrdering}">
                        옵션 그룹 및 옵션을 선택해 주세요.
                    </div>

                    <div class="mb-3">
                        <label for="orderCount" class="form-label">수량</label>
                        <input type="number" name="orderCount" id="orderCount"
                               th:onchange="onCalcuChange()"
                               th:name="orderCount"
                               th:value="${orderCount}"
                               class="form-control"/>
                        <div class="field-error" th:errors="*{orderCount}">
                            수량 입력 오류
                        </div>
                    </div>

                    <!--결제수단-->
                    <div class="mb-3">
                        <labdel for="payMethod" class="form-label">결제수단선택</labdel>
                        <select name="payMethod" id="payMethod" class="form-control">
                            <option th:each="value : ${T(dev.practice.order.domain.order.payment.PayMethod).values()}"
                                    th:value="${value.name()}"
                                    th:text="${value.name}"/>
                        </select>
                    </div>
                    <p>총금액 : <span id="totalAmount" th:text="${item.itemPrice}"></span></p>
                    <input type="hidden" name="itemPrice" id="itemPrice" th:value="${item.getItemPrice()}"/>
                </div>
                <input type="hidden" th:value="${deliveryFragment.getReceiverName()}" name="receiverName">
                <input type="hidden" th:value="${deliveryFragment.getReceiverPhone()}" name="receiverPhone">
                <input type="hidden" th:value="${deliveryFragment.getReceiverZipcode()}" name="receiverZipcode">
                <input type="hidden" th:value="${deliveryFragment.getReceiverAddress1()}" name="receiverAddress1">
                <input type="hidden" th:value="${deliveryFragment.getReceiverAddress2()}" name="receiverAddress2">
                <input type="hidden" th:value="${deliveryFragment.getEtcMessage()}" name="etcMessage">
            </div>


            <hr class="my-4">

            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg"
                            id="btnSubmit"
                            type="submit">주문 등록
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="w-100 btn btn-outline-primary btn-lg"
                            data-bs-toggle="modal" data-bs-target="#giftModal"
                    >
                        선물하기
                    </button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg"
                            onclick="location.href='partner.html'"
                            th:onclick="|location.href='@{/partner}'|"
                            type="button">취소
                    </button>
                </div>
                <div class="col" th:if="${isPartner}">
                    <button class="w-100 btn btn-outline-info btn-lg"
                            th:onclick="|location.href='@{/item/edit/{itemToken}(itemToken=${itemToken})}'|"
                            type="button">상품수정
                    </button>
                </div>
            </div>

            <div class="modal fade" id="giftModal" tabindex="-1" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">선물하기</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body" th:object="${gift}">
                            <div class="mb-3">
                                <label class="col-form-label">전송수단</label>
                                <div th:each="type,stat : ${pushTypes}" class="form-check form-check-inline">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" th:field="${gift.pushType}"
                                               name = "pushType"
                                               th:value="${type.name()}"
                                               th:checked="${stat.index == 0}?'checked'">
                                        <label class="form-check-label"
                                               th:for="${#ids.prev('pushType')}"
                                               th:text="${type.description}">1</label>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="giftReceiverUserId" class="col-form-label">받는 사람</label>
                                <select name="giftReceiverUserId" id="giftReceiverUserId" class="form-control">
                                    <option th:each="user : ${users}"
                                            th:value="${user.getId()}"
                                            th:text="${user.getName()}"/>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="giftReceiverPhone" class="col-form-label">받는 사람 전화번호</label>
                                <input type="text" th:field = "*{giftReceiverPhone}" id="giftReceiverPhone"
                                       class="form-control"/>
                            </div>

                            <div class="mb-3">
                                <label for="giftMessage" class="col-form-label">보낼 메시지</label>
                                <input type="text" th:field = "*{giftMessage}" id="giftMessage"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                            <button class="btn btn-primary" id="btn-gift"
                                    data-bs-dismiss="modal"
                                    type="button">선물하기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast align-items-center  border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
            <div class="d-flex">
                <div class="toast-body" id="toast-body">
                    선물하기 완료하였습니다.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>