<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container custom-container">
    <div class="text-center">
        <h2>주문/선물하기 내역</h2>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>주문일</th>
                <th>상품명</th>
                <th>상품가격</th>
                <th>구매수량</th>
                <th>주문상태</th>
                <th>받는사람</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order, i : ${orderList}">
<!--                <td th:text="${order.getOrderedAt()}"></td>-->
                <td th:text="${#temporals.format(order.getOrderedAt(), 'yyyy-MM-dd HH:mm')}"></td>
                <td>
                    <a th:href="@{/order/{itemToken}(itemToken=${order.getItemToken()})}"
                       th:text="${order.getItemName()}"
                       class="link-primary">
                        상품명</a>
                </td>
                <td th:text="${order.getTotalAmount()}"></td>
                <td th:text="${order.getOrderCount()}"></td>
                <td th:text="${order.status.description}"></td>
                <td th:text="${order.getReceiverName()}"></td>
                <td>
                    <button th:if="${order.status.name() == 'INIT'}" type="button"
                            th:classappend="${ order.getReceiverZipcode() == 'TEMP_VALUE'? 'btn-outline-primary' : 'btn-primary'}"
                            class="btn"
                            data-bs-toggle="modal" data-bs-target="#exampleModal"
                    th:data-itemName="${order.getItemName()}"
                    th:data-totalAmount="${order.getTotalAmount()}"
                    th:data-orderToken="${order.getTotalAmount()}"
                    th:data-receiverZipcode="${order.getReceiverZipcode()}"
                    >
                        <span th:if="${order.getReceiverZipcode() == 'TEMP_VALUE'}">선물결제</span>
                        <span th:if="${order.getReceiverZipcode() != 'TEMP_VALUE'}">주문결제</span>
                    </button>
                    <p th:if="${order.status.description == 'ORDER_COMPLETE' && order.getReceiverZipcode() == 'TEMP_VALUE'}">선물완료</p>
                    <p th:if="${order.status.description == 'ORDER_COMPLETE' && order.getReceiverZipcode() != 'TEMP_VALUE'}">결제완료</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation" th:unless="${orderList.size()==0}">
        <ul class="pagination justify-content-center">
            <li th:if="${page.isPrev()}" class="page-item">
                <a th:href="@{/order/list(page = ${page.getCurPage()-1},itemName=${param.itemName})}" class="page-link" href="#">Prev</a>
            </li>
            <li th:unless="${page.isPrev()}" class="page-item disabled">
                <a class="page-link">Prev</a>
            </li>
            <li th:classappend="${ num == activeNum+1 ? 'active' : 'condition-false'}" class="page-item"
                th:each="num, index: ${#numbers.sequence(page.getStartPage(), page.getEndPage())}">
                <a th:href="@{/order/list(page = ${index.current-1} ,itemName=${param.itemName})}" th:text="${num}" class="page-link" href="">1</a>
            </li>
            <li th:if="${page.isNext()}" class="page-item">
                <a th:href="@{/order/list(page = ${page.getCurPage()+1} ,itemName=${param.itemName})}" class="page-link" href="#">Next</a>
            </li>
            <li th:unless="${page.isNext()}" class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
        </ul>
    </nav>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">상품 결제</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="itemName" class="col-form-label">상품명</label>
                            <input type="text" name="itemName" id="itemName"
                                   class="form-control itemName" readonly/>
                        </div>
                        <div class="mb-3">
                            <label for="totalAmount" class="col-form-label">가격</label>
                            <input type="text" name="totalAmount" id="totalAmount"
                                   class="form-control totalAmount" readonly/>
                            <input type="hidden" id="orderToken" class="orderToken">
                            <input type="hidden" id="receiverZipcode" class="receiverZipcode">
                        </div>
                        <div class="mb-3">
                            <label for="payMethod" class="col-form-label">결제수단</label>
                            <select name="payMethod" id="payMethod" class="form-control">
                                <option th:each="value : ${T(dev.practice.order.domain.order.payment.PayMethod).values()}"
                                        th:value="${value.name()}"
                                        th:text="${value.getDescription()}"/>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="orderDescription" class="col-form-label">결제 시 문구</label>
                            <input type="text" id="orderDescription" name="orderDescription"
                                   class="form-control"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btn-pay">결제</button>
                </div>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast align-items-center  border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
            <div class="d-flex">
                <div class="toast-body" id="toast-body">
                    결제 완료하였습니다.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>