<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron" th:object="${partner}">

        <div class="py-5 text-center">
            <h2>파트너 상세</h2>
        </div>

        <div class="form-group">
            <label for="partnerToken">파트너Id</label>
            <input type="text" id="partnerToken" th:field="*{partnerToken}"
                   th:errorclass="field-error" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label for="partnerName">상호명</label>
            <input type="text" id="partnerName" th:field="*{partnerName}"
                   th:errorclass="field-error" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label for="businessNo">사업자등록번호</label>
            <input type="text" id="businessNo" th:field="*{businessNo}"
                   th:errorclass="field-error" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="text" id="email" th:field="*{email}"
                   th:errorclass="field-error" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label for="status">활성여부</label>
            <input type="text" id="status" th:field="*{status}"
                   th:errorclass="field-error" class="form-control" readonly>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg"
                        onclick="location.href='editPartner.html'"
                        th:onclick="|location.href='@{/partner/edit/{partnerToken}(partnerToken=${partnerToken})}'|"
                        type="button">상품 수정
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/partner/list}'|"
                        type="button">목록으로
                </button>
            </div>
        </div>


    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>