<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="footer mt-auto py-3">
    <div class="container">
        <p>&copy; onlyCamper V2 <span>- profile : <em id="profile_status"></em></span></p>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/common.js"></script>
    <script src="/js/chart.js"></script>
</footer>

