/* 전체 영역을 통틀어서 스타일 정의 */

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
    font-family: 'Nanum Gothic';
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #bbbbbb;
    text-decoration: none;
    cursor: pointer;
}

/* 네비게이션 영역 */
.navbar-nav li {
    padding: 0 5px;
}


.field-error {
    border-color: #dc3545;
    color: #dc3545;
}

.container.custom-container{
    padding: 20px 0;
}

.item-images{
    width: 100%;
    /*height: 100%;*/
}

main > .container {
  padding: 60px 15px 0;
}

.bg-light.sub-page{
    padding: 20px 0;
}

.index .shadow-sm>a{
    /* width: 266px; */
    height: 166px;
}

.index .item-images{
    max-width: 100%;
    height: 100%;
}

.index .order-count {
    position: absolute;
    right: 5px;
    top: 5px;
}

.col>canvas{
    margin-top:50px
}


/*메인 배너*/
.mainBannerWrap{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(../img/mainBnner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 575px) {
    .index .shadow-sm>a{
        width: auto;
        height: auto;
    }
}
